@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    --laranja-claro: #0c50b6;
    --font-size: 1.5rem;
}

body {
    font-size: var(--font-size);
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #008ba3;
}


section {
    padding-bottom: 5rem;
}


.nav-link {
    color: #030174;
    font-weight: 1000;
}

.inicio-fundo {
    background-image: url('https://www.fjmolina.com/wp-content/uploads/2014/02/marie-curie-vector-hd-wallpaper-1920x1080-9149.jpg');
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
}

.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.botao-inicio {
    background-color: var(--laranja-claro);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
}

.display-4 {
    text-shadow: -5px 5px var(--laranja-claro);
}

#biografia {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h2 {
    font-family: 'Lemon', serif;
    font-size: 2.5em;
    font-style: normal;
    color: var(--laranja-claro);
}

#contato {
    background-image: url('img/4965007.jpg');
    background-size: cover;
    padding: 4rem 0;
}

.formulario {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.form-control {
    background-color: #F1EDEF;
}